<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户登录</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <span th:text="${info}"></span> <br />
        昵称：<input type="text" name="name" /> <br />
        用户名：<input type="text" name="userCode" /> <br />
        密码：<input type="password" name="password" /> <br />
        <input type="submit" value="login" />
    </form>
</body>
</html>